/* .holder {
    max-width: 960px;
    margin: 0 auto;
} */

header {
    background-image: url("01.jpg");
}

h1 {

    text-align: center;
    position: relative;
    top: 60px;
    font-size: 68px;
    color: rgb(239, 239, 239);
    text-shadow: -3px -3px 3px #333, 3px -3px 3px #333, -3px 3px 3px #333, 3px 3px 3px #333;
}

.col-3 img {
    display: block;
    margin: auto;
    border-radius: 20px;
}

nav {

    background-color: rgba(128, 128, 128, 0.705);
    margin-bottom: 0;

}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li:hover {
    color: rgba(21, 118, 197, 0.952);
}

nav ul li a:hover {
    color: rgba(102, 184, 252, 0.952);
}

nav ul li a.active {
    background-color: grey;
}

main {
    top: 0px;
    font-family: 'Raleway', sans-serif;
}

main p {
    text-align: justify;
}

h3 {
    text-align: center;
}

.carousel-inner {
    max-height: 450px;
}

footer {
    background-color: #333;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    color: beige;
    text-align: center;
    padding: 5px 0;
    margin-top: 25px;
}

/*styles existencias.html*/

.main-existencias {
    background: #0e6e9d;
    background: linear-gradient(270deg, #0e6e9d 10%, #155a7c 30%, rgba(75, 70, 70, 0.62) 50%);
    background: -webkit-linear-gradient(270deg, #0e6e9d 10%, #155a7c 30%, rgba(75, 70, 70, 0.62) 50%);
    background: -moz-linear-gradient(270deg, #0e6e9d 10%, #155a7c 30%, rgba(75, 70, 70, 0.62) 50%);
}

.main-existencias h2 {

    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.main-existencias p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(216, 218, 230);
}

.card-title {
    text-align: center;
}